extends layout

block content
  h1= title
  - let scoops = results
  div(class="container-fluid")
   div(class="row m-1")
    each item in scoops
     -let destination=`dispatch(\"/scoops/update?id=${item._id}\")`
     div(class="row-sm-2", class="m-1") Item #{item.scoopFlavor}(#{item.scoopSize}) is #{item.scoopColor} #{item.scoopPrice}
     
      button.btn( class="btn-primary ml-1", onclick= destination) Update
   div.container-fluid
    div.row
     each scoop  ,index in scoops
      div.col-sm-2(onClick=`buy(${index})`) #{scoop.ScoopFlavour}
      div.col-sm-2(onClick=`buy(${index})`) #{scoop.scoopSize}
      div.col-sm-2(onClick=`buy(${index})`) #{scoop.scoopColor} 
      div.col-sm-2(onClick=`buy(${index})`) #{scoop.scoopPrice} 
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }
  script.
   function dispatch(path){
    window.location.href=path
   }